tensorflow
certifi==2020.4.5.1
click==7.1.2
cycler==0.10.0
Flask==1.1.2
flask
Flask-Cors==3.0.8
h5py==2.10.0
importlib-metadata==1.6.0
ipykernel==5.3.0
ipython==7.14.0
Jinja2==2.11.2
joblib==0.15.1
jsonify==0.5
matplotlib==3.2.1
numpy
opencv-python
packaging==20.4
pandas
Pillow
scikit-learn
scipy==1.4.1
seaborn
sklearn
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
